   @media(max-width:600px) {

       .home-page #element {
           font-size: 40px;

       }


       .home-page {
           padding-left: 25px;

       }

       .home-page h3 {
           font-size: 18px;


       }

       .home-page .btn a button {
           padding: 7px 21px;
           font-size: 15px;
       }

        .home-page .btn_read a button {
           padding: 7px 21px;
           font-size:15px;
       }

       .home-page p {
           text-align: start;

       }

       #home {
           height: 650px;
       }

       .fighter p {
           font-size: 11px;
       }


       .footer {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }

       .footer .footerDiv {
           display: flex;
           flex-direction: column;
           text-align: center;

       }

       .footer .footerDiv a {
           font-size: 16px;
       }





   }


   @media(max-width:1080px) {
       .nav-links {
           flex-direction: column;
           position: absolute;
           top: 70px;
           right: 15px;
           font-size: 20px;
           width: 130px;
           border-radius: 5px;
           background-color: #888282;
           color: black;
           margin-top: 0px;
           border: none;
           display: none;
           z-index: 9999;
       }



       .menu-toggle {
           display: block;
           margin-left: 12px;
           cursor: pointer;

       }

       .navbar .nav-links {
           gap: 0px;
           padding: 8px 8px 8px 20px;
           display: none;
       }

       .nav-links .item {
           padding: 5px;
       }

       .visible {
           display: block;
       }

       .navbar {
           display: flex;
           align-items: center;
           justify-content: space-around;
           width: 100%;
           position: fixed;
           gap: 0px;
           flex-wrap: wrap;


       }

       .navbar ul li a {
           font-size: 15px;
           margin: 0px;
           width: 100%;

           padding: 0px 0px;
           box-sizing: border-box;
           border: 0px solid transparent;
       }

       .navbar ul li a:hover {
           border: none;
           color: #ded1d1;
       }

       .logo {
           height: 50px;
           width: 50px;
           margin-left: 10px;
           margin-right: 10px;
       }

   }




   @media(max-width:1200px) {
       .donate-part {
           display: flex;
           justify-content: center;
           align-items: center;
           margin-right: 0px;
           gap: 10px;
           
       }


       .donate-part .nav-register {
           font-size: 15px;
           padding: 3px 8px;

       }

       .donate-part button {
           padding: 3px 5px;
           font-size: 15px;
          
       }

       #motivational_bg button {
           padding: 8px 22px 8px 22px;
           font-size: 15px;
           margin: 179px 0px 0px 22px;
           background-size: 300% 300%;

       }


       #cancer_bg #motivational_bg {
           height: 250px;
           width: 100%;

       }

      
       .last-footer {
           gap: 0px;
           font-size: 14px;
           padding: 10px;
           flex-direction: column;
           flex-wrap: wrap;
           text-align: center;
       }


       #cancer_bg .heading_cancer_bg h1 {
           text-align: center;
           font-size: 28px;
           color: #d1126e;
           margin-top: 10px;
       }

       #cancer_bg .heading_cancer_bg .line {
           width: 270px;
       }

       .gallery_container {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
       }


       /* card 2 */

       .card2 h1 {
           font-size: 28px;
       }



       .program_heading hr {
           height: 4px;
           width: 328px;

       }

       .card4 .gallery_container img {

           max-width: 180px;
           height: 180px;

       }

       .card4 .gallery_container {
           padding: 15px 0px 15px 0px;
       }

       .mv-text {

           font-size: 16px;
       }

       .mv-heading {

           font-size: 28px;
           color: rgb(236, 12, 150);

       }

       p {
           display: block;
           margin-block-start: 1em;
           margin-block-end: 1em;
           margin-inline-start: 0px;
           margin-inline-end: 0px;
           unicode-bidi: isolate;
       }

       .program_paragraph {
           text-align: left;

       }


       .program_heading h2 {
           font-size: 28px;
           color: rgb(227, 30, 96);

       }




       .card2 .container1 .success-pics {
           margin-top: 128px;
       }

       .card2 h2 {

           padding-bottom: 0px;
       }

       .card1 .patient-part .container {
           width: 370px;
           height: 400px;
           margin-top: 10px;
       }

       .card1 .patient-part .container .pics-part {
           width: 300px;
           height: 250px;
           margin-bottom: 15px;

       }

       .card1 h1 {
           font-size: 28px;

       }


    
       animatedLetterGradient animation {
           background-position-x: 39.2705%;
           background-position-y: 80.3648%;
       }


   }


   @media (max-width:786px) {

       p {

           font-size: 16px;
       }


   }

   @media (max-width:1150px) {
       #fund-utilization img {
           height: 300px;
           width: 300px;
       }

       .ul_p {
           gap: 0px;
           max-width: 764px;
           display: flex;
           flex-direction: column;
       }


   }

   @media (max-width:950px) {
       #fund-utilization img {
           height: 400px;
           width: 395px;
       }

       .ul_p {
           gap: 20px;
           max-width: 764px;
           display: flex;
           flex-direction: column;
       }


   }

   @media(max-width:890px) {
       .fund_utilization_container {
           flex-direction: column;
       }
   }